body {
    background-color: bisque;
}

#title {
    font-family: 'Righteous';
    text-align: center;
}

#description {
    font-family: 'Comfortaa', cursive;
    text-align: center; 
}

#center-div {
    margin-top: 2em;
    background-color: whitesmoke;
    height: 45em;
}